<div class="container">
  <div class="signUpCard">
   <form #signupForm="ngForm">
    <h2 class="heading">Sign Up</h2>

    <label class="label">Full Name</label>
    <input 
      name="fullName"
      placeholder="Enter your full name" 
      [(ngModel)]="fullName" class="formInput"
      maxlength="80" required/>

    <label class="label">Email</label>
       <input 
       type="email" name="email"
       placeholder="Enter your email address" 
       [(ngModel)]="email" class="formInput"
       maxlength="60" required/>

    <label class="label">Password (min 6 characters)</label>
      <input 
        type="password" name="password"
        placeholder="Choose a password  (min 6 characters)" 
        [(ngModel)]="password" class="formInput" minlength="6"
        required/>

    <label class="label">Username</label>
      <input 
        name="displayName"
        placeholder="Enter a display name" 
        [(ngModel)]="displayName" class="formInput"
        maxlength="12" required/>

    <label class="label">Phone</label>
      <input 
        name="phone"
        placeholder="Phone Number" 
        [(ngModel)]="phone" class="formInput"
        maxlength="18" required/>

    <label class="label">Address</label>
      <input 
        name="address"
        placeholder="Address" 
        [(ngModel)]="address" class="formInput"
        maxlength="200" required/>
    <label class="label">City</label>
      <input 
        name="city"
        placeholder="City" 
        [(ngModel)]="city" class="formInput"
        maxlength="20" required/>

    <label class="label">State</label>
      <input 
        name="state"
        placeholder="State" 
        [(ngModel)]="state" class="formInput"
        maxlength="20" required/>

      <button [disabled]="!signupForm.form.valid" 
              type="submit" (click)="signUp()"
              class="btn" id="btn-signUp">
              Sign Up
      </button>
    </form>
  </div>
</div>