.chatInput{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #1c1c1c;
    transition: 0.1s ease-out;
    padding: 0;
    padding-left: 5px;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton{
    padding: 8px 24px;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #36A5B7;
    color: white;
    transition: 0.2s ease-out;
    width: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatButton:hover{
    background-color: #444;
}
