.container{
    height: 100%;
    overflow:hidden;
  }
  
  .loginCard{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    width: 700px;
    margin: auto;
    padding: 80px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
  }
  .warning{
    font-size: .8em;
    color: rgb(117, 29, 29);
    text-align: center;
  }
  
    form{
        margin:auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .formInput{
        display: block;
        height: 40px;
        border-radius:4px;
        background:#ecf0f1;
        border: #ccc 1px solid;
        padding: 8px;
        font-size:1em;
        margin-bottom: 18px;
        margin-top: 5px;
        width: 100%;
    }
    h2{
        text-align: center;
        height: 2em;
    }
    a { text-decoration: none; }
    .label{ font-size: 0.9em; }
  
  button{
    height: 54px;
    width: 60%;
    margin: auto;
    margin-top: 16px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    transition: ease-in 0.2s;
  }
  

  #btn-login{
    background-color:#36A5B7;
  }
  
  #btn-login:hover{
    background-color:#36A5B7;
      transition: ease-in 0.2s;
  }
  #btn-login:disabled{
    background-color:#eee;
    color: #999;
}