<div class="container">
  <div class="loginCard">
    <h2 class="heading">Log In</h2>
    <div class="warning">
      {{ errorMsg }}
    </div>
    <form #loginForm="ngForm">
      <input 
        [(ngModel)]="email"
        type="email" 
        name="email" 
        class="formInput" 
        placeholder="Email"
        required/>
      <input type="password" 
        [(ngModel)]="password"
        name="password" 
        class="formInput" 
        placeholder="password"
        required/>
      <button class="btn" 
              [disabled]="!loginForm.form.valid"
              id="btn-login" 
              (click)="login()">
              Log In
      </button>
    </form>
  </div>
</div>