<div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a routerLink="/">Chat-app</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user | async)?.uid" routerLink="/login"  routerLinkActive="active" >Login</a>
    </span>
    <span>
      <a *ngIf="!(user | async)?.uid" routerLink="/signup" routerLinkActive="active">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user | async)?.uid">Hey, {{ userName }}</span>
    </span>
    <span>
      <a *ngIf="(user | async)?.uid" routerLink="/chat" routerLinkActive="active" >Inbox</a>
    </span>
    <span>
      <a id="userProfile" *ngIf="(user | async)?.uid" [routerLink]="[ '/profile', userName ]" routerLinkActive="active">Profile </a>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</div>