<div class="file-upload">
  <a class="label" href="javascript:void(0)" (click)="file.click()" >+ Photo</a>
  <input 
    id="upload"
    class="fileInput"
    type="file" 
    #file 
    [multiple]="(maxFiles > 1)"
    (change) = "onFileChange($event)"
    style="display:none" />
</div>
  