.label{
    display: block;
    padding: .3em .5em;
    color: #fff;
    background: #666;
    border-radius: .4em;
    transition: background .3s;
    opacity: .3;
    text-decoration: none;
}
.label:hover {
    cursor: pointer;
    background: #000;
    opacity: .8;
}