.container{
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}

.userlist {
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    padding: 10px 0px 10px 30px;
}
.messages{
    max-height: 90vh;
    overflow-y: auto;
    margin: 5px 0;
}

.chatform {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #eee;
    z-index: 3;
    margin: 0 auto 10px auto;
    justify-content: space-between;
    border-radius: 10px;
}


/* width */
#scrolled::-webkit-scrollbar {
    width: 20px;
}

/* Track */
#scrolled::-webkit-scrollbar-track {
    background: transparent;
    /* background: #36AdB7; */
    /* background: rgb(153, 243, 255); */
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

/* Handle */
#scrolled::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
#scrolled::-webkit-scrollbar-thumb:hover {
    background: #36AdB7;
    width: 25px;
}

app-user-list {
    width: 100%;
}
