<div class="container">
  <div class="userlist">
    <app-user-list></app-user-list>
  </div>
  <div #scrolled class="messages" id="scrolled">
    <app-feed></app-feed>
  </div>
  <div class="chatform">
    <app-chat-form></app-chat-form>
  </div>
</div>