.messageContainer{
    display: flex;
    max-width: 60%;
}

.isOwnMessageContainer{
    float: right;
    flex-direction: row-reverse;
}

.messageData{
    padding: 10px;
    font-size: 0.7em;
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 5px;    
    position: relative;
}
.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}

.isOwnSender{
    background: rgb(28, 203, 216);    
    color: #E1F5FE;
}

.timestamp, .applause {
    font-size: .7em;
    color: #555;
    font-style: italic;
    cursor: pointer;
}

.isOwnTimestamp{
    float: right;
}

.msgbody{
    display: block;
    padding-bottom: 10px;
}
.messageContent{
    height: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);    
    border-radius: 10px;
    border-bottom-right-radius: 30px;
}
.isOwnMessageContent .applause{
    float: left;
}
.applause{
    float: right;
    color: rgba(194, 166, 7, 0.979);
}
.applause img{
    cursor: pointer;
}

.isOwnMessageContent{
    background-color: rgba(198, 228, 255, 0.863);
    border-radius: 10px;
    border-bottom-left-radius: 30px;
}