<div class="messageContainer"
    [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
    <div class="messageData"
        [ngClass]="{'isOwnMessageData':isOwnMessage}">
        <div class="profile" title="{{ userName }}"
            [ngClass]="{'isOwnSender':isOwnMessage}"
            [routerLink]="['/user', this.userName, this.uid ]">
            <img src="../server/api/photo/{{ photoUrl }}" alt="{{ userName }}"> 
</div>
    </div>
    <div class="messageContent"
        [ngClass]="{'isOwnMessageContent':isOwnMessage}">
        <span class="msgbody">
            {{ messageContent }} <br />
        </span>
        <span class="applause">
            <app-reaction [itemId]="key"> </app-reaction>
        </span> 
        <span class="timestamp" [ngClass] = "{'isOwnTimestamp':isOwnMessage}" title="{{ timeStamp | amAdd: 3 : 'hours' | amDateFormat: 'YYYY-MM-DD HH:mm' }}">
            {{ timeStamp | amAdd: 3 : 'hours' | amDateFormat: 'YYYY-MM-DD HH:mm' | amTimeAgo }}
        </span>
    </div>
</div>