.wrapper {
    position: relative;
    padding: 0 1em;
  }
 
  .like {
    cursor: pointer;
  }
  .like svg {
    transition: transform 300ms ease-out;
  }
  .like svg:hover {
    transform: scale(1.7);
  }

  .like.liked svg {
    fill: rgb(165, 0, 49);
  }
  .reactions {
    height: 20px;
  }
  
  .reaction-counts {
    height: 10px;
    display: inline-block;
  }
  