<div class="wrapper">
    <audio #audioOption>
        <source src='assets/notify.mp3' type="audio/mp3">
    </audio>
  <div class="reactions">
      <span class="like" (click)="react(0)" [class.liked]="userReaction != null">
          <svg version="1.1" fill="#000"     height="20" width="20" viewBox="0 0 297.22 297.22" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path d="m283.76 32.835c2.705-1.913 3.346-5.658 1.432-8.363s-5.657-3.347-8.363-1.432l-14.984 10.602c-2.705 1.913-3.346 5.658-1.432 8.363 1.169 1.652 3.022 2.535 4.902 2.535 1.198 0 2.408-0.358 3.461-1.104l14.984-10.601z"/>
            <path d="m244.06 29.387c0.695 0.262 1.409 0.386 2.11 0.386 2.428 0 4.713-1.484 5.617-3.891l6.46-17.182c1.166-3.101-0.403-6.561-3.505-7.727-3.101-1.167-6.562 0.404-7.728 3.505l-6.46 17.182c-1.165 3.101 0.404 6.561 3.506 7.727z"/>
            <path d="m291.22 55.611h-0.124l-18.351 0.154c-3.313 0.067-5.944 2.605-5.877 5.918 0.066 3.271 2.739 5.928 5.997 5.928h0.124l18.351-0.313c3.313-0.068 5.944-2.732 5.877-6.045-0.066-3.271-2.739-5.642-5.997-5.642z"/>
            <path d="m254.2 147.15c-3.073-2.433-6.711-4.089-10.557-4.867 0.254-0.46 0.491-0.928 0.715-1.403l2.408-2.408c9.274-9.275 10.248-23.874 2.264-33.961-3.769-4.761-9.001-7.925-14.812-9.106 0.415-0.764 0.783-1.545 1.117-2.338 6.316-9.149 6.213-21.445-0.782-30.283-3.77-4.764-9.004-7.938-14.818-9.117 4.8-8.826 4.187-19.826-2.225-27.925-4.848-6.125-12.109-9.639-19.923-9.639-6.257 0-12.16 2.236-16.792 6.33-0.701-3.979-2.363-7.822-5.012-11.169-4.849-6.125-12.11-9.638-19.924-9.639-6.79 0-13.164 2.635-17.947 7.418l-60.84 60.84-0.232-8.12c-0.107-13.83-11.392-25.049-25.247-25.049-13.604 0-24.729 10.815-25.229 24.298l-12.146 88.306-9.983 11.604c-5.983 6.957-5.582 17.481 0.915 23.962l14.837 14.812c-4.574 6.881-3.773 16.266 2.206 22.23l69.667 69.557c3.329 3.321 7.748 5.148 12.446 5.148 3.857 0 7.668-1.295 10.729-3.645l14.544-11.168c13.991-3.305 29.416-10.813 45.874-22.33 14.371-10.058 29.962-23.46 46.337-39.836l34.631-34.631c5.107-5.107 7.795-12.188 7.375-19.427-0.42-7.227-3.917-13.949-9.596-18.444zm-66.076-115.14c2.603-2.602 6.032-3.903 9.462-3.903 3.915 0 7.831 1.695 10.515 5.086 4.256 5.377 3.51 13.18-1.339 18.028l-6.177 6.176c-0.952 0.635-1.879 1.314-2.747 2.083-0.701-3.98-2.364-7.823-5.013-11.169-3.257-4.114-7.604-7.043-12.475-8.527l7.774-7.774zm-41.727-14.477c2.602-2.602 6.032-3.903 9.462-3.903 3.916 1e-3 7.831 1.696 10.515 5.087 4.256 5.377 3.51 13.179-1.339 18.027l-70.919 70.186-0.233-8.119c-0.061-7.825-3.7-14.812-9.356-19.405l61.87-61.873zm-132.77 158.86c-2.082-2.078-2.209-5.41-0.291-7.64l12.281-14.277c6e-3 -7e-3 0.011-0.017 0.012-0.026l12.72-92.483c0-7.286 5.961-13.247 13.247-13.247s13.248 5.961 13.248 13.247l0.345 12.035c-11.988 1.646-21.322 11.733-21.78 24.057l-12.145 88.307-3.533 4.108-14.104-14.081zm234.31 0.148-34.63 34.631c-29.577 29.577-60.494 53.318-87.653 59.237-0.825 0.181-1.601 0.528-2.271 1.043l-15.655 12.022c-1.014 0.779-2.219 1.162-3.419 1.162-1.443 0-2.88-0.555-3.968-1.641l-69.671-69.56c-2.083-2.077-2.21-5.409-0.291-7.64l12.28-14.276c7e-3 -8e-3 0.011-0.017 0.013-0.026l12.719-92.483c0-7.286 5.962-13.248 13.248-13.248s13.247 5.962 13.247 13.248l0.626 21.824c0.104 3.626 3.087 5.987 6.191 5.987 1.514 0 3.058-0.563 4.309-1.813l70.431-70.431c2.603-2.603 6.031-3.903 9.462-3.903 3.915 0 7.831 1.695 10.515 5.086 4.256 5.377 3.509 13.18-1.34 18.028l-48.518 48.518c-2.519 2.52-2.519 6.603 0 9.121 1.275 1.275 2.946 1.913 4.617 1.913s3.343-0.638 4.617-1.913l62.374-62.373c2.602-2.603 6.031-3.903 9.462-3.903 3.915 1e-3 7.831 1.696 10.515 5.087 4.256 5.376 3.509 13.179-1.34 18.027l-62.081 62.081c-2.553 2.554-2.553 6.692 0 9.246 1.258 1.258 2.906 1.887 4.556 1.887 1.648 0 3.297-0.629 4.555-1.887l48.811-48.81c2.603-2.603 6.032-3.903 9.462-3.903 3.915 0 7.831 1.695 10.515 5.087 4.256 5.376 3.509 13.179-1.34 18.027l-48.349 48.35c-2.612 2.611-2.612 6.847 0 9.458l0.078 0.079c1.207 1.207 2.789 1.81 4.37 1.81 1.582 0 3.164-0.603 4.37-1.81l29.974-29.974c2.701-2.701 6.317-4.129 9.921-4.129 2.867 0 5.726 0.904 8.107 2.789 6.36 5.034 6.754 14.403 1.181 19.975z"/>
          </svg>
      </span>
      <div *ngFor="let emoji of emojiList; index as i;" class="reaction-counts">
        <span *ngIf="hasReactions(i)">{{ reactionCount[i] }} </span>
      </div>
  </div>
</div>