
.userInfo{
    flex-basis: 2;
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
}
.info {
    padding:  1em;
    color:  #1c1c1c;
    line-height:  1.5em;
}

.contact {
    padding:  1em;
    line-height:  1.8em;
}

h4 {
    font-size:  1.1em;
    color:  #555;
}

.allmsgs{
    flex-basis: 3;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    margin: 25px auto 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    padding-top: 50px;
    min-width: 600px;
}
.head{
    height: 50px;
    width: 100%;
    background: rgb(26, 65, 65);
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    color: #FFF;
    font-size: 1.3em;
    z-index: 2;
    position: absolute;
    top:0;
}
#scroller{
    overflow-y: scroll;
    height: 75vh;
}
#scroller::-webkit-scrollbar {
    width: 20px;
}

#scroller::-webkit-scrollbar-track {
    background: transparent;
}

#scroller::-webkit-scrollbar-thumb {
    background: transparent;
}

#scroller::-webkit-scrollbar-thumb:hover {
    background: #36AdB7;
    width: 25px;
}

.messageContainer{
    display: flex;
    width: 100%;
    margin: 10px auto;
}
.messageData{
    padding: 10px;
    font-size: 0.7em;
}

.profile{
    background: rgb(12, 119, 241);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.profile img:hover{
    transform: 2sec scale(2);
    border: 8px solid rgb(255, 255, 255);
}

.timestamp, .applause {
    font-size: .7em;
    color: #555;
    font-style: italic;
}


.msgbody{
    display: block;
    padding-bottom: 10px;
}
.messageContent{
    height: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);    
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    max-width: 500px;
}
.applause{
    float: right;
    color: rgba(194, 166, 7, 0.979);
}
.applause img{
    cursor: pointer;
}
