<div class="userInfo">
    <div class="profile">
        <img src="../server/api/photo/{{ photoUrl }}" alt=""> 
      </div>
  <div class="info">
    <h3> {{ full_name }} </h3>
    <h5>Popularity | {{ popularity | numbers }}</h5>
  </div>
  <div class="contact">
    <h4>Contact Information</h4>

    <h4>Email Address</h4>
    <p>
     <em>{{ email }}</em>
    </p>

    <h4>Phone No.</h4>
    <p>
     <em>{{ phone }}</em>
    </p>

    <h4>Address</h4>
    <p>
     <em>{{ address }}</em>
    </p>
    <h4>City</h4>
    <p>
     <em>{{ city }}</em>
    </p>
    <h4>State</h4>
    <p>
     <em>{{ state }}</em>
    </p>
    
  </div>
</div>

<div class="allmsgs">
  <div class="head">Messages</div>
    <div id="scroller">
      <div *ngFor="let message of msgs | async" class="message">
        <div *ngIf="(message.userName == this.userName)">
            <div class="messageContainer">
                <div class="messageData">
                    <span class="sender" title="{{ userName }}">
                    </span>
                </div>
                <div class="messageContent">
                    <span class="msgbody">
                        {{message.message}}
                    </span>
                    <span class="applause">
                        <app-reaction [itemId]="message.$key"> </app-reaction>
                    </span> 
                    <span class="timestamp">
                        {{ message.timeSent | date:'medium' | amAdd: 3 : 'hours' }}
                    </span>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>