
.userInfo{
    flex-basis: 2;
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
}
.info {
    padding:  1em;
    color:  #1c1c1c;
    line-height:  1.5em;
}

.contact {
    padding:  1em;
    line-height:  1.8em;
}

h4 {
    font-size:  1.1em;
    color:  #555;
}

.allmsgs{
    flex-basis: 3;
    height: 700px;
    width: 650px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    margin: 25px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}
.head{
    height: 50px;
    width: 100%;
    background: rgb(26, 65, 65);
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    color: #FFF;
    font-size: 1.3em;
    z-index: 2;
    position: absolute;
    top:0;
}


  
form{
    padding-top:50px;
    margin:auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.formInput{
  display: block;
  height: 40px;
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  font-size:1em;
  margin-bottom: 18px;
  margin-top: 5px;
  width: 100%;
}
  h2{
      text-align: center;
      height: 2em;
  }
  a { text-decoration: none; }
  .label{ font-size: 0.9em; }

button#btn-update{
  height: 54px;
  margin: 20px auto;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
  transition: ease-in 0.2s;
  width: 70%;
  cursor: pointer;
}

#btn-update{
    background-color:#36A5B7;
}

#btn-update:hover{
    background-color:rgb(39, 130, 145);
}

#btn-update:disabled{
    background-color:#eee;
    color: #999;
}
.profile{
    background: rgb(12, 119, 241);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.profile img:hover{
    transform: 2sec scale(2);
    border: 8px solid rgb(255, 255, 255);
}


.file-upload {
    position: relative;
    display: inline-block;
}
  

.fileInput {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}
span.notify {
    margin: 0 0 1em 0px;
    border-left: 2px solid green;
    padding-left: 5px;
    color: #18503f;
}