<div class="userInfo">
  <!-- {{photoUrl}} -->
    <div class="profile">
      <img src="../server/api/photo/{{ photoUrl }}" alt=""> 
    </div>
    <app-file 
      [displayName]="userName"
      maxFiles="4"
      maxSize="2"
      fileExt="JPG, GIF, PNG"
      (uploadStatus)="refreshImages($event)" >
    </app-file>

    <div class="info">
      <h3> {{ full_name }} </h3>
      <!-- <h5>Popularity | 50</h5> -->
    </div>
  
    <div class="contact">
      <h3>Contact Information</h3 >
  
      <h4>Full Name</h4>
      <p><em>{{ full_name }}</em></p>
  
      <h4>Email Address</h4>
      <p><em>{{ email }}</em></p>
  
      <h4>Phone No.</h4>
      <p><em>{{ phone }}</em></p>
  
      <h4>Address</h4>
      <p><em>{{ address }}</em></p>

      <h4>City</h4>
      <p><em>{{ city }}</em></p>

      <h4>State</h4>
      <p><em>{{ state }}</em></p>
    </div>
  </div>
  
  <div class="allmsgs">
    <div class="head">Update Profile</div>
      <form #updateForm="ngForm">
        <span class="notify">{{errorMessage}}</span>
        <label class="label">Full Name</label>
        <input 
          name="fullName"
          placeholder="Enter your full name" 
          [(ngModel)]="full_name" class="formInput"
          maxlength="80" required/>
    
        <label class="label">Email</label>
           <input 
           type="email" name="email"
           placeholder="Enter your email address" 
           [(ngModel)]="email" class="formInput"
           maxlength="60" required/>
    
        <label class="label">Phone</label>
          <input 
            name="phone"
            placeholder="Phone Number" 
            [(ngModel)]="phone" class="formInput"
            maxlength="18" required/>
    
        <label class="label">Address</label>
          <input 
            name="address"
            placeholder="Address" 
            [(ngModel)]="address" class="formInput"
            maxlength="200" required/>
        <label class="label">City</label>
          <input 
            name="city"
            placeholder="City" 
            [(ngModel)]="city" class="formInput"
            maxlength="20" required/>
    
        <label class="label">State</label>
          <input 
            name="state"
            placeholder="State" 
            [(ngModel)]="state" class="formInput"
            maxlength="20" required/>
    
          <button [disabled]="!updateForm.form.valid" 
                  type="submit" (click)="update()"
                  class="btn" id="btn-update">
                  Update
          </button>
        </form>
    </div>