.online{
    background-color: #0FA;
}

.busy{
    background-color: #FB0;
}

.offline{
    background-color: #888;
}

.status{
    z-index: 3;
    border: 1px solid black;
    display: inline-block;
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    margin: 30px 0 0px 25px;
    position: absolute;
}

.profile{
    display: inline-block;
    background: rgb(12, 119, 241);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 5px;    
    position: relative;
}
.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.profile img:hover{
    transform: 2sec scale(2);
    border: 5px solid rgb(255, 255, 255);
}
