  <div class="profile userItem" *ngIf="user.status==='online'"  [routerLink]="['/user', user.displayName, userid]" title="{{ user.displayName }}">
    <img src="../server/api/photo/{{ photoUrl }}" alt="{{ user.displayName }}"> 
    <span class="status" [ngClass]=(user.status)></span>
  </div>
