* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    min-height:100vh;
    background-color: #96DAE5;
    font-family: "Open Sans", sans-serif;
}

app-chatroom {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

app-navbar{
    background-color: #36AdB7;
    /* width: 100%; */
}

app-chat-form{
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: none;
}

app-user{
    display: flex;
    max-width: 90%;
    margin: auto;
}
app-profile{
    display: flex;
    max-width: 90%;
    margin: auto;
}